/* index page  */
.leftcontainer {
    width: 100%;
}

.middilecontainer {
    text-align: center;
    color: #2610AC;
    font-weight: bold;
    margin-left: 370px;
    margin-bottom: 30px;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
}

.row {
    display: inline-block;
}

.rightcontainer {
    margin-top: 10px;
    margin-left: 500px;
}

img {
    width: 80px;
    margin-top: 50px;
    margin-left: 50px;
}

.img {
    width: 350px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2610AC);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    margin: 20px 380px;
    border-style: none;
}

.btn:hover,
.reload:hover {
    background: #9165f0;
    background-image: -webkit-linear-gradient(top, #30129c, #b8adec);
    text-decoration: none;
    color: #ffffff;
}

.center {
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* home page */

.move {
    margin-left: 230px;
    margin-top: 10px;
    color: #2610AC;
}

.movesleft {
    color: #2610AC;
    margin-top: 18%;
    text-align: center;
    font-size: 2.2rem;
}

.score,
.scoreimg {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    position: absolute;
    top: 180px;
    z-index: 1;
    left: 24%;
    color: #1977CE;
}

.scoreimg {
    left: 23%;
}

.p-count,
.c-count {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

#opponent-choice,
#your-choice {
    width: 140px;
    height: 140px;
    background-color: rgb(148, 210, 242);
    margin-top: 100px;
    margin-left: 20px;
}

#choices {
    display: flex;
    width: 55vw;
    justify-content: space-evenly;
    margin-left: 21%;
}

#choices img {
    padding: 0.8rem;
    width: 100px;
    background: #ffffff;
    border: none;
}

.reload {
    background: #ffffff;
    border-radius: 12px;
    font-family: Arial;
    color: #2610AC;
    border: solid #ffffff 0px;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 2rem;
    margin-left: 45%;
    margin-bottom: 0px;
}

.result {
    text-align: center;
    font-size: 2rem;
}


@media screen and (max-width: 612px) {

    /* index page */
    .middilecontainer {
        text-align: center;
        font-size: 30px;
        margin: 7px 22%;
    }

    .leftcontainer img {
        width: 10%;
        margin-top: 15px;
    }

    .rightcontainer {
        margin-top: 10px;
        margin-left: 7%;
    }

    .img {
        width: 200px;
    }

    .btn {
        margin: 20px 30px;
        ;
    }

    /* home page */
    .move {
        margin-left: 34%;
        margin-top: 0%;
    }

    .movesleft {
        margin-top: 75%;
        font-size: 1.5rem;
    }

    .score,
    .scoreimg {
        margin-top: 10%;
        margin-left: 15%;
        width: 20vw;
        position: absolute;
        z-index: 0;
        text-align: center;
        font-size: small;
    }

    .computerScore {
        margin-left: 50px;
    }

    #opponent-choice,
    #your-choice {
        width: 80px;
        height: 80px;
        margin-top: 120px;
        margin-left: 25px;
    }

    #choices {
        width: 30vw;
        margin-left: 30%;
    }

    #choices img {
        padding: 0rem;
        width: 60px;
    }

    .reload {
        margin-left: 37%;
    }
.result{
font-size: 1.5rem;
}

}